<header>
  <div class="article-tags">
      {% include post/categories.html %}
  </div>
  {% if index %}
    <h1><a href="{{ root_url }}{{ post.url }}">
      {% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}
    </a></h1>
  {% else %}
    <h1 class="page-title">
      {% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}
    </h1>
    <div class="date-section">
      {{ page.date_html }}
    </div>
    <div class="author-section">{{page.author}}</div>
    <br />
  {% endif %}
</header>
{% if index %}
  <section>{{ content | excerpt }}</section>
  {% capture excerpted %}{{ content | has_excerpt }}{% endcapture %}
  {% if excerpted == 'true' %}
  <footer>
      <div class="article-date">
        {% include post/date.html %}{% if updated %}{{ updated }}{% else %}{{ time }}{% endif %}</div>
  </footer>
  {% endif %}
{% else %}
  <section>{{ content }}</section>
{% endif %}

